<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <listeners>
        <listener class-name="Mavenproject.Acadamey.Listeners"/>
        <listener class-name="resources.ExtentReporterNG"/>
    </listeners>
  <test name="validating home page">
    <classes>   
      <class name="Mavenproject.Acadamey.HomePage"/>
      </classes>
      </test>
      <test name = "validation">
      <classes>
      <class name="Mavenproject.Acadamey.Validatethenavbar"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
